body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: repeat(16,1fr);
  height: 50vh;
  width: 50%;
}

#grid-item {
  border: 1px solid black;
}