html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  position: relative; 
}

body {
  display: flex;
  flex-direction: column;
  columns: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  display: grid;
  /* grid-template-columns: repeat(16,1fr); */
  grid-gap: 1px;
  border: 1px solid black;
  width: 40%;
  background-color: black;
  aspect-ratio: 1/1;
}

.grid-item {
  background-color: white;
}

.highlighted {
  background-color: aqua;
}

#grid-size-btn{
  margin-bottom: 1%;
}


@media screen and (max-width: 480px) {
  body {
     max-height: 100vh;
     overflow-y: hidden;
  }
}