body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: repeat(16,.5fr);
  grid-gap: 1px;
  border: 1px solid black;
  height: same-as-width;
  width: 50%;
  background-color: black;
  aspect-ratio: 1/1;
}

.grid-item {
  background-color: white;
}

